body {
  font-family: 'Cabin', sans-serif;
  /*background-color: #ede9ce;*/
}

table {
    width:900px;
    /*background-color: #935347;*/
    background-color:rgba(227,227,227,0.7);
    opacity: .8;
    margin-left: 50px;

}

table, th, td {
  border: 1px solid #c9c9c9;
  border-collapse:collapse;
  color:#89bdd3;
}

th, td {
  padding: 5px;
}

th:hover {
  opacity: 0.3;
}

.no {
    display: none;
}

#header {
  margin:0 auto;
  width: 350px;
  color: #89bdd3;
  font-size: 50px;
}

.container{
  margin: 0 auto;
  /*width:700px;*/
  max-height: 700px;
  overflow: scroll;
}

.filters{
  float: left;
  width:200px;
  color: #89bdd3;
  background-color: rgba(154,211,222,0.4);
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

select {
  background-color: white;
  color: #89bdd3;
  width: 100%;
  border-color: #89bdd3;
}

select:hover {
  opacity: 0.5;
}

#reset{
  color: #89bdd3;
  width: 70%;
  margin: 0 30px;
}

#reset:hover{
  opacity: 0.3;
}

#fh {
margin: 0 65px;
}
